$black: rgb(11, 9, 10);
$darkblue: rgb(22, 26, 29);
$greyblueshadow: rgba(43, 45, 66, 0.5);
$darkred: rgb(162, 22, 27);
$red: rgb(185, 24, 27);
$whitegrey: rgb(245, 243, 244);
$white: rgb(253, 255, 252);