@import './colors';

/* TEXT */
@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin poppins {
  font-family: 'Poppins', sans-serif;
}

@mixin heading-1 {
  @include montserrat;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: -2.4px;
  line-height: 43.5px;
  color: $white;
}

@mixin heading-1-special {
  @include heading-1;
  font-style: italic;
  color: $darkred;
}

@mixin heading-3 {
  @include montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.48px;
  color: $whitegrey;
}

@mixin hero-body {
  @include poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: $whitegrey;
}

@mixin section-heading-red-shadow {
  @include poppins;
  font-weight: 600;
  font-size: 28px;
  font-style: italic;
  line-height: 100%;
  letter-spacing: 0.28px;
  background-color: $darkred;
  color: transparent;
  text-shadow: 0px 4px 2px $greyblueshadow;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

@mixin section-heading-grey-shadow {
  @include poppins;
  font-weight: 600;
  font-size: 28px;
  font-style: italic;
  line-height: 33px;
  text-transform: uppercase;
  background-color: $whitegrey;
  color: transparent;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

@mixin heading-italic {
  @include poppins;
  font-weight: 600;
  font-size: 24px;
  font-style: italic;
  line-height: 100%;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  color: $whitegrey;
}

@mixin section-body {
  @include montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: $whitegrey;
}

@mixin review-text {
  @include poppins;
  font-weight: 400;
  color: $darkblue;
}

@mixin review-name-model {
  @include review-text;
  font-size: 16px;
  line-height: 15.519px;
}

@mixin review-body {
  @include review-text;
  font-size: 14px;
  line-height: 17.519px;
}

/* CONTAINERS */
@mixin center-left-column--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}